/* styles.css */

body {
    background-image: url(/images/digital-camera.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}



.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap between images */
    padding: 20px; /* Adjust grid padding as needed */
}

.image-grid ul {
    list-style: none;
    padding: 20px;
    margin: 20px 0;
}

.image-grid li {
    display: block;
}

.image-grid img {
    max-width: 100%;
    height: auto;
}
