/* styles.css */

body {
    background-image: url(/images/digital-camera.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    max-width: 100%;
}
.center-div {
    position: absolute;
    /* Adjust top and left to center the div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Your styles for the centered div */
  }


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap between images */
    padding: 20px; /* Adjust grid padding as needed */
}

.image-grid ul {
    list-style: none;
    padding: 20px;
    margin: 20px 0;
}

.image-grid li {
    display: block;
}

.image-grid img {
    max-width: 100%;
    height: 250px;
    padding: 20px;
}

button {
    margin-top:30px;
    float:left;
    height:50px;
}
img {
    float:left;
    margin-right:10px;
    margin-left:10px;
}
